
html, body {
    width: 100%;
    height: auto;
    background-color: #000;
    margin: 0px;
}

.text-container {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}

.text-container p {
    padding-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.slide-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 2400px; /* 3x o primeiro width */
    height: 600px; /* mantém o valor */
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s; /* chrome */
    -moz-transition: left 2s; /* firefox */
    -o-transition: left 2s; /* opera */
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
    text-align: center;

}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
}

#slider-image-primavera:target ~ .image-container {
    left: 0px;
}

#slider-image-outono:target ~ .image-container {
    left: -800px;
}

#slider-image-inverno:target ~ .image-container {
    left: -1600px;
}
